<ul class="dialog" ng-repeat="dialog in dialogs track by $index">


    <!--<video cclass="video-js vjs-default-skin" controls preload="auto"-->
    <!--width="592" height="252" vjs-video vjs-media="mediaToggle">-->
    <!--</video>-->
    <div ng-if="$index == 0">
        <video ng-if="flag.eng" width="100%" height="300px" controls
               poster="wp-content/themes/chinese/images/Zhou2.png">
            <source src="{{link.videos.en}}" type='video/mp4'/>
        </video>


        <video ng-if="flag.hz_py" width="100%" height="300px" controls
               poster="wp-content/themes/chinese/images/Zhou2.png">
            <source src="{{link.videos.ch_hz}}" type='video/mp4'/>
        </video>
        <nav id="player" style="margin: auto; width: 23%">
            <button class="control prev" ng-click="previousScene()">Prev</button>
            <button class="control next" ng-click="nextScene()">Next</button>
        </nav>
    </div>

    <li>

        <a ng-if="flag.hz_py" href="#sentence" id="{{dialog.id}}" ng-click="listSentencesById(dialog);">
            <p><span>对话 {{dialog.sequence}}</span></p>
            <p><span>{{dialog.nameTranslations.zh_hz}}</span></p>
            <p><span>{{dialog.nameTranslations.zh_py}}</span></p>
        </a>
        <a ng-if="flag.eng" href="#sentence" id="{{dialog.id}}" ng-click="listSentencesById(dialog);">

            <p><span>Dialog {{dialog.sequence}}</span></p>
            <p><span>{{dialog.nameTranslations.en}}</span></p>
        </a>

    </li>
</ul>

