

<ul class="scenes">
    <li ng-repeat="scene in scenes track by $index">
        <a href="#dialog" id="{{scene.id}}" ng-click="listDialogsById(scene);">
            <h4><span ng-if="flag.hz_py">场景 {{scene.sequence}}</span></h4>
            <h4><span ng-if="flag.eng">Scene {{scene.sequence}}</span></h4>
            <h4><span ng-if="flag.hz_py">{{scene.descriptionTranslation.zh_hz}}</span></h4>
            <h4><span ng-if="flag.eng">{{scene.descriptionTranslation.en}}</span></h4>
        </a>
    </li>
</ul>