<ul class="sentences">


    <li ng-repeat="sentence in sentences track by $index">

        <div ng-if="$index == 0">
            <audio ng-if="flag.eng" controls id="sentenceAudio" style="width: 100%">
                <source src="{{link.audios.eng}}"
                        type="audio/ogg">
                <source src="{{link.audios.eng}}"
                        type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <audio ng-if="flag.hz_py" controls id="sentenceAudio" style="width: 100%">
                <source src="{{link.audios.ch_hz}}"
                        type="audio/ogg">
                <source src="{{link.audios.ch_hz}}"
                        type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            </br>
            </br>
            </br>
            <nav id="player" style="margin: auto; width: 23%">


                <button class="control prev" ng-click="previousDialog()">Prev</button>
                <button class="control next" ng-click="nextDialog()">Next</button>
            </nav>

        </div>

        <span ng-if="$odd">
            <img src="/wp-content/themes/chinese/images/photo3.png">
        </span>
        <div class="sentence-meta">
            <div ng-if="flag.hz_py">
                <p>{{sentence.textTranslations.zh_hz}} </p>
                <p>{{sentence.textTranslations.zh_py}}</p>
            </div>

            <!--<div ng-if="flag.hz_eng">-->
            <!--<p>{{sentence.textTranslations.zh_hz}} </p>-->
            <!--<p>{{sentence.textTranslations.en}} </p>-->
            <!--</div>-->
            <div ng-if="flag.eng">
                <p>{{sentence.textTranslations.en}} </p>
            </div>
            <!--<div ng-if="flag.hz">-->
            <!--<p>{{sentence.textTranslations.zh_hz}} </p>-->
            <!--</div>-->
        </div>
        <span ng-if="$even" style="    margin-left: 36px;">
            <img src="/wp-content/themes/chinese/images/xz.png">
        </span>
    </li>
</ul>