/*
Theme Name: BlankSlate
Theme URI: https://github.com/tidythemes/blankslate
Author: TidyThemes
Author URI: http://tidythemes.com/
Description: <strong>UPDATE</strong> - 4.0+ is here, completely overhauled, yet again. As always, <a href="http://tidythemes.com/concept/#upgrading">use caution when upgrading</a> (tidythemes.com/concept/#upgrading) and <a href="http://tidythemes.com/concept/">learn the TidyThemes concept</a> (tidythemes.com/concept). &nbsp; &rarr; <em><strong>CAUTION</strong>: If you're child theming or have clients that are child theming on top of BlankSlate (not the recommended use), please do not blindly upgrade to newer versions.</em> &nbsp; &rarr; <strong>DESCRIPTION</strong>: BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme available anywhere for designers/developers to use as a base/foundation to build websites for clients or to build completely custom themes from scratch to release faster. Clean, semi-minified, unformatted and valid code, SEO-friendly, no programmer comments, standardized and as white label as possible and most importantly, CSS reset for cross-browser-compatability and no intrusive visual CSS styles added whatsoever. A perfect skeleton theme that blows any others like it (the subsequent underscores.me for example) completely out of the water, as they're simply too overcomplicated for what people really want in this kind of theme. Now comes with jQuery enqueued and ready to go. &nbsp; &rarr; <strong>SUPPORT</strong>: Please use the <a href="http://tidythemes.com/forum/">official support forum</a> (tidythemes.com/forum). Comments and suggestions for improving BlankSlate, please see "<a href="http://tidythemes.com/tidythemes-sucks/">TidyThemes Sucks!</a>" (tidythemes.com/tidythemes-sucks). Just getting started? <a href="http://tidythemes.com/want-to-learn-css/">Want to learn CSS?</a> (tidythemes.com/want-to-learn-css) &nbsp; &rarr; <strong>WHAT'S NEW?</strong>: We stripped down as much custom, extraneous, superfluous junk code as we could and greatly improved the HTML5 structure. <a href="http://make.wordpress.org/themes/author/chipbennett/">Chip Bennett</a> (make.wordpress.org/themes/author/chipbennett), a highly experienced programmer and official WordPress administrator, worked closely with us to audit the theme code for quality. <a href="http://themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0">See</a> (themes.trac.wordpress.org/changeset?old_path=/blankslate/3.3&new_path=/blankslate/4.0) just how much we've revamped things. Last, but not least, BlankSlate has now been <a href="https://github.com/tidythemes/blankslate">opened up on GitHub</a> (github.com/tidythemes/blankslate) if anyone would like to make suggested code additions/improvements. Thank you for using BlankSlate.
Version: 4.0.4
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2017 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-size: 100%;
    font: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    background: #ececec;
}

.clear {
    clear: both
}

.sticky {
}

.bypostauthor {
}

.wp-caption {
}

.wp-caption-text {
}

.gallery-caption {
}

.alignright {
}

.alignleft {
}

.aligncenter {
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important
}

video {
    width: 100%;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/loading.gif) center no-repeat #fff
}

.scenes li {
    padding: 10px;
    border: 2px solid #ff3322;
    border-radius: 5px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}

.scenes li:before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #000;
    width: 70%;
    bottom: -40%;
    left: 17%;
}

.scenes li a {
    text-transform: uppercase;
    color: #444;
    font-size: 18px;
    outline: 0;
}

.scenes li a h4 span {
    font-size: 16px;
    display: block;
    margin-bottom: 6px;
}

.scenes li a h4:last-child span {
    margin-bottom: 0px;
}

.scenes li a:hover {
    text-decoration: none;
}

.scenes li a:focus {
    text-decoration: none;
}

.breadcrumb {
    margin-bottom: 35px;
    margin-top: 20px;
}

.breadcrumb div {
    float: left;
    margin-right: 20px;
    font-size: 18px;
}

#education {
    background: #ececec;
    padding: 15px;
    border-radius: 10px;

}

#education .breadcrumb {
    margin-bottom: 10px;
    margin-top: 0px;
    border-bottom: double #dedede;
    background: #ececec;
    padding-bottom: 31px;
}

.dialog li {
    margin: 10px;
    padding: 10px;
    border: 2px solid #ff3322;
    border-radius: 15px;
    margin-bottom: 5px;
    text-align: justify;
    position: relative;
}

.dialog li a {
    font-size: 14px;
    display: block;
    color: #444;
}

.dialog li a p {
    margin-bottom: 10px;
}

.dialog li a p:last-child {
    margin-bottom: 0px;
}

.dialog li a:hover {
    text-decoration: none;
}

.sentences li {
    padding: 10px;
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}

.sentences li .photo3 {
    display: none;
}

.sentences li .xz {
    display: none;
}

.sentences li p {
    margin-bottom: 5px;
    font-size: 14px;
}

.sentences li:nth-child(even) .sentence-meta {
    width: 80%;
    float: right;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.sentences li:nth-child(odd) .sentence-meta {
    width: 80%;
    float: left;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.sentences li p img {
    width: 6%;
    margin-left: 10px;
}

.sentences li:nth-child(even) .photo3 {
    display: block !important;
    width: 12%;
    float: left;
}

.sentences li:nth-child(odd) .xz {
    display: block !important;
    width: 12%;
    float: right;
}

#top-header {
    background: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FF4628;
    height: 160px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    padding-top: 5px;
}

.navbar-default {
    border-bottom: 1px solid #ff4628 !important;
    border-radius: 0px;
}

.navbar {
    text-align: center;
}

.navbar .navbar-nav > li {
    position: relative;
}

.navbar .navbar-nav > li > a {
    padding: 10px 20px;
    font-size: 15px;
    color: #46464b;
    text-transform: uppercase;
    background: none !important;
}

.navbar .navbar-nav li a:hover {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    color: #000 !important;
    text-decoration: none;
}

.navbar .navbar-nav > li > a i {
    font-size: 10px;
}

.sub-menu {
    padding-left: 0;
    margin-left: 0;
    background: #fff;
    padding: 10px;
    position: absolute;
    bottom: -140px;
    left: 0;
    width: 200px;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.sub-menu li a {
    text-align: left;
    color: #444;
    display: block;
    padding: 8px 10px;
}

.navbar .navbar-nav > li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.left-sidebar h2, .right-sidebar h2 {
    padding: 10px;
    margin: 0 25px;
    border: solid 2px;
    color: #ff4629;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.left-sidebar p {
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ff3322;
    margin-bottom: 10px;
}

.left-sidebar ul li {
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #ff3322;
    padding-bottom: 10px;
}

.left-sidebar ul li img {
    width: 12%;
    float: left;
    margin-right: 10px;
}

.left-sidebar .category-meta {
    width: 80%;
    float: right;
}

.left-sidebar .category-meta h4 {
    font-size: 15px;
    color: #000;
    margin-bottom: 3px;
    margin-top: 2px;
}

.right-sidebar ul {
    background: #ececec;
    padding: 15px 15px !important;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.right-sidebar img {
    margin: 10px 0px;
}

.right-sidebar p {
    line-height: 24px;
    display: block;
    width: 100%;
    font-size: 14px;
}

.right-sidebar ul li h5 {
    font-size: 13px;
    font-weight: 600;
    padding: 10px 0px;
}

.circle-image {
    text-align: center;
}

.circle-image img {
    width: 50%;
    border-radius: 50%;
    display: inline-block;
    padding: 10px 0px;

}

footer {
    margin-top: 30px;
    background: #ececec;
    /*         padding: 20px;*/
    border-top: 1px solid #ff3322;
}

footer .left-footer {
    text-align: right;
    border-right: 1px solid #ff3322;
    padding: 20px;
}

footer .right-footer {
    padding: 20px;
    padding-left: 0px;
}

footer h4 {
    margin-bottom: 10px;
}

footer h4:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}

footer ul li {
    float: left;
}

footer ul li a {
    font-size: 20px;
    color: #000;
}

footer .left-footer ul {
    float: right;
}

footer .left-footer ul li a {
    font-size: 22px;
    padding: 0px 10px;
}

footer .left-footer ul li a:hover {
    text-decoration: none;
    color: #444;
}

footer p {
    margin-bottom: 10px;
}

.clickmenu {
    display: none;
}

.breadcrumb a {
    color: #686868;
    font-weight: 100;
    font-size: 17px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

video#example_video_1 {
    width: 100%;
    height: 350px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    nav#player {
        width: 25% !important;
    }

    nav#player button.control {
        text-indent: -9999px;
        width: 29px;
        height: 29px;
        border: 0;
        padding: 10px;
        margin: 0;
        cursor: pointer;
        background-size: cover !important;
        margin-top: 10px;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar nav.navbar {
        background: transparent;
        margin-bottom: 0px;
        border: none;
        border-bottom: none !important;
        padding: 0px;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar nav.navbar > span {
        width: 50%;
        float: left;
        display: inline-block;
        margin: 0px;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar nav.navbar > span b {
        margin-top: 5px;
        display: inline-block;
        font-weight: bold;
        font-size: 14px;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar nav.navbar .radio-group {
        border-radius: 0;

        margin: 5px 0px;
        width: 75%;
        float: right;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar nav.navbar .radio-group label {
        width: 100%;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar nav.navbar .flag {
        width: 30%;
        float: right;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar nav.navbar i {
        /*display: inline-block;
          float: right;
          padding-top: 6px;
          color: #777;
          width: 31px;
          text-align: right;*/
        position: absolute;
        right: 0;
        top: 5px;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar nav.navbar .flag img {
        margin-top: 0px;
        float: left;
        width: 45%;
    }

    #wrapper {
        position: relative;
    }

    #mobilepart {
        background: #fa6154;
        overflow: hidden;
        padding: 8px;
        text-align: center;
    }

    #mobilepart ul li {
        float: left;
        color: #fff;
    }

    #mobilepart ul li:first-child {
        width: 10%;
    }

    #mobilepart ul li:nth-child(2) {
        width: 80%;
    }

    #mobilepart ul li:last-child {
        width: 10%;
    }

    #mobilepart ul li span {
        display: block;
    }

    #mobilepart ul li i {
        font-size: 20px;
        padding-top: 6px;
    }

    .left-sidebar p {
        font-size: 12px;
        color: #000;
    }

    #leftsidebar .radio-group {
        margin: 5px;
    }

    .radio-group label {
        font-size: 12px;
    }

    #leftsidebar > .leftsidebar .col-md-3 {
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        padding: 0px;
        z-index: 9999;
        display: none;
        height: 100%;
    }

    #leftsidebar > #rightsidebar .col-md-3 {
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        padding: 0px;
        display: none;
        height: 100%;
    }

    #leftsidebar > #rightsidebar .col-md-3 .left-sidebar {
        text-align: center;
        width: 65%;
        right: 0;
        left: initial !important;
        top: 0;
        float: right;
        background: #ececec;
        padding: 10px;
    }

    #leftsidebar > .leftsidebar .col-md-3 .right-sidebar {
        text-align: center;
        width: 65%;
        float: left;
        background: #ececec;
        height: 100%;
        position: relative;
        top: 0;
        padding: 10px;
    }

    #leftsidebar .leftsidebar > .col-md-3 > span {
        position: absolute;
        width: 35%;
        height: 100%;
        top: 0;
        right: 0;
    }

    #leftsidebar #rightsidebar > .col-md-3 > span {
        position: absolute;
        width: 35%;
        height: 100%;
        top: 0;
        left: 0;
    }

    #rightsidebar .left-sidebar {
        text-align: center;
    }

    #rightsidebar ul {
        text-align: initial;
    }

    #top-header {
        display: none;
    }

    .clickmenu {
        padding: 10px;
        display: block;
        border-bottom: 1px solid #ccc;
    }

    .clickmenu i {
        font-size: 20px;
    }

    .breadcrumb div {
        float: left;
        margin-right: 10px;
        font-size: 15px;
    }

    .scenes li h4 {
        font-size: 16px;
    }

    #education {
        margin: 10px 0px;
    }

    footer .left-footer {
        text-align: center;
        border-right: none;
        padding: 20px;
    }

    footer .left-footer ul {
        float: none;
        display: inline-block;
    }

    footer .right-footer {
        padding: 10px;
        padding-left: 10px;
    }

    .left-sidebar h2, .right-sidebar h2 {
        margin: 10px 0px;
    }

    #mobilepart {
        display: block !important;
    }
}

.flag {

    float: right;
    margin-right: 10px;
}

.flag img {
    width: 40px;
    margin-top: 12px;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

label {
    color: #fa6154;
    display: inline-block;
    cursor: pointer;
    font-weight: normal;
    padding: 5px 5px;
}

#selector2-three:checked + label {
    color: #ffffff;
    background: #fa6154;
}

#selector2-one:checked + label {
    color: #ffffff;
    background: #fa6154;
}

#selector3-three:checked + label {
    color: #ffffff;
    background: #fa6154;
}

#selector3-one:checked + label {
    color: #ffffff;
    background: #fa6154;
}

#option-three:checked + label {
    color: #ffffff;
    background: #fa6154;
}

#option-one:checked + label {
    color: #ffffff;
    background: #fa6154;
}

label + input[type=radio] + label {
    border-left: solid 1px #fa6154;
}

#wrapper .radio-group label {
    border: none;
}

.radio-group {
    border: solid 1px #fa6154;
    display: inline-block;
    margin: 18px;
    border-radius: 10px;
    overflow: hidden;
}

.albums {
}

.album {
    font-style: italic;
}

.album .artist-name {
    font-style: normal;
    font-weight: lighter;
    color: #999;
}

.album button.queue {
}

.playlist {
    color: #eee;
    background-color: #333;
}

.playlist button.control {
}

.playlist button.play {
}

.playlist button.play:hover {
}

.playlist button.pause {
}

.playlist button.pause:hover {
}

.playlist button.prev {
}

.playlist button.prev:hover {
}

.playlist button.next {
}

.playlist button.next:hover {
}

.playlist .album .queue.add {
}

.playlist .album.current {
    background-color: #383838;
}

.playlist .album.current .tracks .current {
    background-color: #995599;
}

.playlist .album .tracks li {
    font-style: normal;
    padding: .3em;
}

.library {
}

.library .album .queue.remove {
}

.library .album .tracks {
}

.albums {
    list-style: none;
    padding: 0 2%;
}

.album {
    list-style: none;
    display: inline-block;
    position: relative;
    width: 80%;
    margin: 0;
    padding: 1em 2em;
}

.track {
    cursor: pointer;
}

.album .tracks {
    margin: 0;
    padding: .5em 0 0 1.5em;
}

.album button.queue {
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

.album .queue.add {
    background-image: url('../images/add.png');
}

.album .queue.remove {
    background-image: url('../images/remove.png');
}

.album-title {
    margin-right: 10px;
}

.playlist {
    position: absolute;
    width: 30%;
    padding: 0 3%;
    min-height: 100%;
}

nav button.control {
    text-indent: -9999px;
    width: 55px;
    height: 50px;
    border: 0;
    padding: 10px;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

nav button.play {
    /*background: url('http://angular.github.io/peepcode-tunes/public/images/control_play.png') center no-repeat;*/
    background: url('http://angular.github.io/peepcode-tunes/public/images/control_play_hover.png') center no-repeat;

}

nav button.play:hover {
    background: url('http://angular.github.io/peepcode-tunes/public/images/control_play.png') center no-repeat;

    /*background: url('http://angular.github.io/peepcode-tunes/public/images/control_play_hover.png') center no-repeat;*/
}

nav button.pause {
    background: url('http://angular.github.io/peepcode-tunes/public/images/control_pause.png') center no-repeat;
}

nav button.pause:hover {
    background: url('../images/control_pause_hover.png') center no-repeat;
}

nav button.prev {
    /*background: url('https://angular.github.io/peepcode-tunes/public/images/control_start.png') center no-repeat;*/
    background: url('https://angular.github.io/peepcode-tunes/public/images/control_start_hover.png') center no-repeat;

}

nav button.prev:hover {
    /*background: url('https://angular.github.io/peepcode-tunes/public/images/control_start_hover.png') center no-repeat;*/
    background: url('https://angular.github.io/peepcode-tunes/public/images/control_start.png') center no-repeat;

}

nav button.next {
    /*background: url('http://angular.github.io/peepcode-tunes/public/images/control_end.png') center no-repeat;*/
    background: url('http://angular.github.io/peepcode-tunes/public/images/control_end_hover.png') center no-repeat;

}

nav button.next:hover {
    /*background: url('http://angular.github.io/peepcode-tunes/public/images/control_end_hover.png') center no-repeat;*/
    background: url('http://angular.github.io/peepcode-tunes/public/images/control_end.png') center no-repeat;

}

.library {
    margin-left: 36%;
    padding: 0.1em 2%;
}

#mobilepart {
    display: none;
}