/* START Make the cart table responsive */
/* http://css-tricks.com/responsive-data-tables/ */

@media screen and (max-width: 600px) {

  
}

@media (min-width: 320px) and (max-width: 479px){
    
}
@media (min-width: 480px) and (max-width: 767px) {
  
}
@media (min-width: 768px) and (max-width: 1023px){
    
}
@media (min-width: 1024) and (max-width: 1279px){
